{% extends "freq/base.html" %}

{% block body_content %}
	<ul>
		<li>Proposal: <a href="{{ STATIC_URL }}freq/docs/oed_currency_proposal_20121024.docx">oed_currency_proposal_20121024.docx</a></li>
		<li>Prototype report: <a href="{{ STATIC_URL }}freq/docs/oed_currency_prototype_report.docx">oed_currency_prototype_report.docx</a></li>
		<li>Currency spreadsheet (complete - 32 Mb): <a href="{{ STATIC_URL }}freq/docs/oed_currency_20140320.xlsx">oed_currency_20140320.xlsx</a></li>
	</ul>
{% endblock %}

